a:link{
	color: white;
    text-decoration: none;
   
  
}

a:visited{
	color: white ;
}

a:hover {
    color: black;
    background-color: transparent;
    
}

.b1{
    width: 150px;
    padding-top: 20px;
   
}

header {
    background-color: darkred;
}
#main>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#main li{
    font-size: 20px;
    
    display:block;
}

#content {
  margin: 0 auto;
  font-family: "Helvetica", "Arial", san-serif;
  font-size: 10pt;
    
}

.grupp {
    display: flex;
    min-width: 940px;
}

.nyhet{
  background-color:aliceblue;
  flex-basis: 60%;
}

.b2{
    width: 400px;
    height: 300px;
    
}

.matcher {
  background-color: beige;
  flex-basis: 50%;
}





@media (max-device-width:650px) {
    #main ul {
        flex-direction: column;
    }
    
    .grupp {
        flex-direction: column;
    }
}

/* För lite bredare skärmar ska menyn hamna på höger sida.
   Lättfixat med flexbox. */
@media (min-device-width:650px) and (min-width: 650px) and (max-width: 900px) {
    #pagecontent {
        display: flex;
    }
    
    nav {
        min-width: 200px;
        /* order gör att nav hamnar efter i flex-layouten 
         utan hamnar den på vänster sida i stället. */
        order: 1;
    }
   
}

/* För riktigt breda skärmar använder vi toppmeny. */
@media (min-device-width: 650px) and (min-width: 901px) {
    .toppmeny {
        display: flex;
        /* Vi måste ange position: relative för att 
           z-index ska respekteras och z-index behövs
           för att inte våra menyer ska hamna under
           efterföljande innehåll.
        */
        position: relative;
        z-index: 100;
    }
    
    .menuclosed ul.undermeny {
        display: block;

    }
    
}
    .toppmeny {
        height: 2em;
    }
    
    .menuclosed {
        /* Det här gör så att det som inte ryms innanför den angivna
         * höjden (height) för .toppmeny inte syns. Med overflow:visible
         * (default) så sticker menyerna.
         */
        overflow: hidden;
}

    .logos{
        display: flex;
    }
    
    .b3{
        width: 70px;
        padding: 0px 100px
    }
    
    .b4{ width: 70px; 
    padding: 0px 100px;    
    
    }
    .tit{
        padding: 50px;
        
    }
    
    .name1{
        padding: 0px 200px; 
    }
    
    .time1{
        padding: 0px 210px;
    }
    
.match{
    border: 1px solid black;
    padding-bottom:  50px;
}
    .match2{
        padding-bottom: 50px;
        border: 1px solid black;
    }
    .His{
        display: flex;
    }
    
    .hist{
        width: 600px;
        padding: 100px 150px;
    }
    
    .b5{
        width: 300px;
        padding-top: 100px
    }
    
    .wenger{
        display: flex;
    }

.wen{
    padding: 0px 150px;
}

.tex{
    width: 600px;
    padding: 0px 100px;
}

.container {
    min-width:940px;
}