a:link{
	color: white;
    text-decoration: none;
   
  
}

a:visited{
	color: white ;
}

a:hover {
    color: red;
    background-color: transparent;
    
}

.b1{
    width: 150px;
    padding-top: 20px;
   
}

header {
    background-color: darkred;
}
#main>ul {
    list-style: none;
    display: flex;
}

#main li{
    font-size: 20px;
    padding: 0px 130px 0px;
}

#content {
  max-width: 1000px;
  min-width:200px;
  margin: 0 auto;
  font-family: "Helvetica", "Arial", san-serif;
  font-size: 10pt;
    
}

.grupp {
    display: flex;
}

.nyhet{
  background-color: linen;
  flex-basis: 60%;
}
.b2{
    width: 400px;
    height: 300px;
    
}

.match {
  background-color: #dfd;
  flex-basis: 40%;
}



/* För lite bredare skärmar ska menyn hamna på höger sida.
   Lättfixat med flexbox. */
@media (min-device-width:650px) and (min-width: 650px) and (max-width: 900px) {
    #pagecontent {
        display: flex;
    }
    
    nav {
        min-width: 200px;
        /* order gör att nav hamnar efter i flex-layouten 
         utan hamnar den på vänster sida i stället. */
        order: 1;
    }
}

/* För riktigt breda skärmar använder vi toppmeny. */
@media (min-device-width: 650px) and (min-width: 901px) {
    .toppmeny {
        display: flex;
        /* Vi måste ange position: relative för att 
           z-index ska respekteras och z-index behövs
           för att inte våra menyer ska hamna under
           efterföljande innehåll.
        */
        position: relative;
        z-index: 100;
    }
    
    .menuclosed ul.undermeny {
        display: block;

    }
    
    .toppmeny {
        height: 2em;
    }
    
    .menuclosed {
        /* Det här gör så att det som inte ryms innanför den angivna
         * höjden (height) för .toppmeny inte syns. Med overflow:visible
         * (default) så sticker menyerna.
         */
        overflow: hidden;
}